@import "../../assets/styles/variable.scss";
@import "../../assets/styles/reset.scss";

.header {
  display: flex;
  align-items: center;
  padding: 50px $padding__section;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background: white;
  position: sticky;
  & h1 {
    font-family: $fontBold;
    font-size: 2rem;
    color: $neutral_1;
  }
}
